@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Nunito:wght@200&display=swap');

*{
	padding:0px;
	margin:0;
}

header{
	padding:1vh;
	margin:0;
	background:black;
	color:white;
	border:2px solid black;	
	font-family: 'Castoro', serif;
    font-family: 'Nunito', sans-serif;
	display:flex;
	font-weight: bold;
	
}

.pranav{
	margin: 0px 36px 33px 550px;
	font-family: 'Castoro', serif;
    font-family: 'Nunito', sans-serif;
	min-height:5px;
}


.h1{
	margin:30px;	
}
.h1:hover{
	margin:30px;	
	list-style:none;
	transform: scale(1.5);
	padding:0 20px;
	color:rgb(243, 247, 2);
	font-weight: bold;
	
}

.nav{
	display:flex;
	padding:20px;
}

nav ul{
	display:flex;
	height:5vh;
	justify-content:flex-start;
	align-items:center;
}

nav ul li{
	list-style:none;
	padding:0 20px;
}

nav ul li:hover{
	list-style:none;
	padding:0 20px;
	transform: scale(1.5);
}

nav ul li a{
	color:white;
	text-decoration:none;
	
}

nav ul li a:hover{
	color:rgb(2, 163, 237);
	font-weight: bold;
}


.search{
	padding:0px;
}

.search input{
	 height:35;
	 border-radius:15px;
	 width:400;
	 margin: 0 10px 0 25px;
	 padding: 0 5px;
}

.btn{
	 border:solid white;
	 width:60;
	 height:35;
	 border-radius:15px;
	 cursor:pointer;
}

.btn:hover{
	 font-weight:bold;
	 color:solid white;
	 transform: scale(1.3);
	 border:solid white;
	 width:60;
	 height:35;
	 border-radius:15px;
	 cursor:pointer;
	 
}

main{
	background:black;
	color:white;
	background-image:url("../image/bi.jfif");
	min-height:71vh;
}
.main1{
	max-width:91vw;
	margin:2px 20px;
	padding:2;
}

.container{
	
	display:flex;
	min-height:50vh;
	margin: 1px 0 -39px 5px;
}

.p1{
	text-align:center;
}

.group1{
	display:flex;
	min-height:39vh;
	margin: 50px -18px;
	padding:-10px 0 0 10px;	
	overflow-x:scroll;
}

.group11{
	margin:20px 5px;
}


footer{
	height:12vh;
	background-color:black;
	color:white;	
	display:flex;
	justify-content:center;
	align-items:center;
	font-family: 'Castoro', serif;
    font-family: 'Nunito', sans-serif;
}
