@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Nunito:wght@200&display=swap');

*{
	padding:0px;
	margin:0;
}

header{
	padding:0.411rem;
	margin:0;
	background:black;
	color:white;
	border:0.125rem solid black;	
	font-family: 'Castoro', serif;
    font-family: 'Nunito', sans-serif;
	display:flex;
	font-weight: bold;
	
}

.pranav{
	margin:0rem 0rem 0.875rem 0rem;
	font-family: 'Castoro', serif;
    font-family: 'Nunito', sans-serif;
	min-height:0.313rem;
	/*min-height:4rem;*/
	display:flex;
	text-align:center;
	justify-content:center;
}


.h1{
	margin:1.875rem;
    color:#03ff22;	
}
.h1:hover{
	margin:1.875rem;	
	list-style:none;
	transform: scale(1.5);
	padding:0 1.25rem;
	color:rgb(243, 247, 2);
	font-weight: bold;
	
}

.nav{
	display:flex;
	padding:1.25rem;
}

nav ul{
	display:flex;
	height:2.053rem;
	justify-content:flex-start;
	align-items:center;
}


nav ul li{
	list-style:none;
	padding:0 1.25rem;
}

nav ul li:hover{
	list-style:none;
	padding:0 1.25rem;
	transform: scale(1.5);
}

nav ul li a{
	color:white;
	text-decoration:none;
	
}

nav ul li a:hover{
	color:rgb(2, 163, 237);
	font-weight: bold;
}


.search{
	padding:0rem;
}

.search input{
	 height:35;
	 border-radius:0.938rem;
	 width:400;
	 margin: 0 0.625rem 0 1.563rem;
	 padding: 0 0.313rem;
}

.btn{
	 border:solid white;
	 width:60;
	 height:35;
	 border-radius:0.938rem;
	 cursor:pointer;
}

.btn:hover{
	 font-weight:bold;
	 color:solid white;
	 transform: scale(1.3);
	 border:solid white;
	 width:60;
	 height:35;
	 border-radius:0.938rem;
	 cursor:pointer;
	 
}

main{
	background:black;
	color:white;
	background-image:url("../image/bi.jfif");
	min-height:80%;
}
.main1{
	max-width:91rem;
	margin:0.125rem 1.25rem;
	padding:2;
}

.container{
	
	display:flex;
	min-height:20.531rem;
	margin: 0.063rem 0 -2.438rem 0.313rem;
}

.p1{
	text-align:center;
}

.group1{
	display:flex;
	min-height:16.01rem;
	margin: 3.125rem -1.125rem;
	padding:-0.625rem 0 0 0.625rem;	
	overflow-x:scroll;
}

.group11{
	margin:1.25rem 0.313rem;
}


footer{
	height:4.92rem;
	background-color:black;
	color:white;	
	display:flex;
	justify-content:center;
	align-items:center;
	font-family: 'Castoro', serif;
    font-family: 'Nunito', sans-serif;
}
